.MealSuggestion {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #282c34;
}

.MealSuggestion__Header {
  height: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Header_Link {
  padding: 10px 25px;
  text-decoration: none;
  color: #dbe3e5;
}

.MealSuggestion__Content {
  height: calc(100% - 174px);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MealSuggestion__Title {
  font-size: 96px;
  margin-bottom: 20px;
  text-align: center;
  color: #dbe3e5;
}

.MealSuggestion__Result {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  color: #dbe3e5;
}

.MealSuggestion__Button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8068d1;
  color: #dbe3e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.MealSuggestion__Button:hover {
  background-color: #6b57ad;
}
