.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #282c34;
}

.content {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 96px;
  margin-bottom: 20px;
  text-align: center;
  color: #dbe3e5;
}

p {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  color: #dbe3e5;
}

.generate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8068d1;
  color: #dbe3e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.generate-button:hover {
  background-color: #6b57ad;
}
